:root {
    --green-one: #0b582c;
    --green-two:#1fbf76;
    --green-tree:#92f075;
    --grey:#f7f8f8;
    --blacks:#1d262b;
    --purple:#180f55;
  }

body{
    overflow-y: hidden;
    background-color: #eaeceb;
}

html{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: azure;
}

header h1{
    color: #1fbf76;
}

header h1 span{
    border-left: 6px solid var(--green-two);
            height: 200px;
            left: 50%;
            margin: 0 10px;
}

select{
    width: 20%;
    margin-right: 20px;
    border-radius: 10px;
    padding: 15px 15px;
    border: 2px solid rgb(5, 0, 0,0.4);
}

.contentOrcamento{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.contentOrcamentoCards{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    height: 60vh;
    width: 90%;
}

.contentOrcamentoCardsCard{
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border-radius: 20px;
    margin: 0 5px;
    background-color: #ffffff;
    border: 1px solid rgb(230, 229, 229);
}

.contentOrcamentoCardsCard h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#1fbf76, #92f075);
    color: white;
    height: 70px;
    border-radius: 10px 10px 1px 1px;
}

.contentOrcamentoCardsCardcontent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 70%;
    padding: 20px;
    border-radius: 10px;
}

.OrcamentoCardsCard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
    background-color:var(--grey);
    border:1px solid rgb(5, 0, 0,0.4);
    border-radius: 10px;
    font-size: 1px;
}

.OrcamentoCardsCardIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.OrcamentoCardsCardTxt{
    text-indent: 60px;
    font-size: 10px;
    margin: 5px;
}

.contentOrcamentoCardPriceIcon{
    height: 15%;
    padding: 5px;
}

.contentOrcamentoCardPriceIconContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95%;
    border-radius: 30px;
    background-color:#e4e4e4;
}

.contentOrcamentoCardPriceIconContentIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
}

.contentOrcamentoCardPriceIconContentIcon img{
    height: 50%;
    width: 40%;
}

.contentOrcamentoCardPriceIconContentPriceMsg{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.contentOrcamentoCardPriceIconContentPriceMsg p{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.contentOrcamentoCardPriceIconContentPriceMsg span{
    font-weight: 600;
    color: #141010;
}

.contentOrcamentoDuvida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30vh;
}

.contentOrcamentoDuvidaContent{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    height: 60%;
    background-color:#fffefe ;
}

.contentOrcamentoDuvidaContent h1{
    color: #1fbf76;
}

.contentOrcamentoDuvidaContent span{
    color: #838585;
    font-size: 20px;
}

.contentOrcamentoDuvidaContentInputBtn{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
}

.contentOrcamentoDuvidaContentInputBtn input{
    width: 70%;
    height: 60px;
    margin-right: 5px;
    padding: 10px;
    font-size: 20px;
}

.contentOrcamentoDuvidaContentInputBtn input::placeholder{
    color: #b8bbb9;
}

.contentOrcamentoDuvidaContentInputBtn button{
    width: 20%;
    height: 60px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    background:linear-gradient(45deg,#129b4d,#1fbf76, #92f075 );
    border: none;
    border-radius: 10px;
}

/*TABLET*/

@media(max-width:1200px){

    .contentOrcamentoCardsCard h1{
        font-size: 20px;
    }

    .OrcamentoCardsCard{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 0;
        background-color:var(--grey);
        border:1px solid rgb(5, 0, 0,0.4);
        border-radius: 10px;
    }

    .OrcamentoCardsCardTxt{
        text-indent: 60px;
        font-size: 8px;
        margin: 5px;
    }

    .contentOrcamentoCardPriceIcon{
        height: 10%;
        padding: 1px;
    }

    .contentOrcamentoCardPriceIconContent{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 5px 0;
        border-radius: 30px;
        background-color:#e4e4e4;
    }

    .contentOrcamentoCardPriceIconContentPriceMsg p{
        font-size: 15px;
    }
}

/*tablet*/
@media(min-width:480px) and (max-width:768px){
    header h1{/*descartar*/
        color: rgb(157, 255, 0);
        font-size: 25px;
    }

    .contentOrcamentoCardsCard h1{
        font-size: 10px;
    }

    .OrcamentoCardsCard{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px 0;
        background-color:var(--grey);
        border:1px solid rgb(5, 0, 0,0.4);
        border-radius: 10px;
    }

    .OrcamentoCardsCardTxt{
        text-indent: 60px;
        font-size: 7px;
        margin: 5px;
    }

    .contentOrcamentoCardPriceIcon{
        height: 9%;
        padding: 1px;
    }

    .contentOrcamentoCardPriceIconContentPriceMsg p{
        font-size: 10px;
        font: 800;
    }
}